.actualImageBox {
    display: flex;
    height: max-content; /* ! */
    gap: 10px;
    flex-wrap: wrap;
    padding: 8px;
    border-radius: 8px;
    background-color: gray;
}

.actualImage {
    max-width: calc((100% - 10px) / 2);
    border-radius: 4px;
    cursor: pointer; /*! + */
    transition: transform 500ms; /*! + */
    font-size: 1.1em;
}
/* ! Якщо немає в наявності */
.outOfStock { 
    max-width: 100%;
    cursor: auto;
}

/*! + */
.actualImage:hover {
    transform: scale(1.03);
    outline: 3px solid #ff9111;
}
/* ! Якщо немає в наявності */
.actualImage.outOfStock:hover {
    transform: none;
    outline: none;
}